@font-face {
  font-family: 'Marvel';
  font-style: normal;
  font-weight: 400;
  src: local('Marvel'), local('Marvel-Regular'), url({{ site.baseurl }}/css/marvel.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;

  font-size: 1em;
  line-height: 1.5;
  background-color: #fdfdfd;
  font-family: 'Marvel', sans-serif;
}

a {
  color: #2a7ae2;
  text-decoration: none;
}

a:hover {
  color: #000;
}

a:visited {
  color: #205caa;
}

/* Utility */
.wrap:before, .wrap:after {
  content: "";
  display: table;
}

.wrap:after {
  clear: both;
}

.wrap {
  max-width: 800px;
  padding: 0 30px;
  margin: 0 auto;
  zoom: 1;
}

/* Site header */
.site-header {
  border-top: 0.2em solid #333;
  border-bottom: 0.1em solid #e8e8e8;
  min-height: 3em;
  background-color: white;
  margin: 0;
}

.site-title, .site-title:hover, .site-title:visited {
  display: block;
  color: #333;
  font-size: 2em;
  float: left;
  position: relative;
  z-index: 1;
}

.site-nav {
  float: right;
  line-height: 4.5em;
}

.site-nav .menu-icon {
  display: none;
}

.site-nav .page-link {
  margin-left: 1em;
  color: #727272;
}

.site-nav a:hover
 {
    text-decoration: underline;
}

.site-nav .currentPage {
    font-weight: bold;
}

/* Page Content styles */
.page-content {
  padding: 2em 0;
  background-color: #fff;
}

.page-content ul, .page-content li {
  padding: 0px 2em;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  font-weight: 300;
  margin-bottom: 0;
}

h1 {
  border-bottom: 0.01em double black;
  font-size: 2em;
}

h2 {
  border-bottom: 0.01em dotted black;
  font-size: 1.5em;
  display: inline-block;
}

h3 {
  font-size: 1em;
}

ul, ol {
  padding-left: 1em;
}

@media screen and (max-width: 600px) {
  .wrap {
      padding: 0 1em;
  }

  .site-nav {
    position: fixed;
    z-index: 10;
    top: 14px;
    right: 8px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #e8e8e8;
  }

  .site-nav .menu-icon {
    display: block;
    font-size: 1.5em;
    color: #505050;
    float: right;
    width: 2em;
    text-align: center;
    line-height: 1em;
  }

  .site-nav .menu-icon svg {
    width: 1em;
    height: 1em;
  }

  .site-nav .trigger {
    clear: both;
    margin-bottom: 5px;
    display: none;
  }

  .site-nav:hover .trigger {
    display: block;
  }

  .site-nav .page-link {
    display: block;
    text-align: right;
    line-height: 1.25;
    padding: 5px 10px;
    margin: 0;
  }
}
