<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% endif %} / {{ site.title }}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}">

    <link rel="stylesheet" href="/static/main.css">
    <link rel="stylesheet" href="/static/syntax.css">

    <link rel="icon" type="image/png" href="/static/img/logo-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/static/img/logo-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/static/img/logo-64x64.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/static/img/logo-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/static/img/logo-194x194.png" sizes="194x194">

    <meta name="theme-color" content="#ffffff">
</head>
<body>

	{% include header.html %}

    <div class="page-content">
      <div class="wrap">
      {{ content }}
      </div>
    </div>

    <footer style="border-top: 1px solid #e8e8e8"></footer>
</body>
</html>
